# ======================
# API (dùng cho DAG)
# ======================
API_KEY=your-api-key-here
API_RATE_LIMIT_PER_MIN=300
API_BASE_URL=http://mock-api:8000/api/v1/data

# ======================
# Timezone
# ======================
TZ=UTC

# ======================
# Airflow Core
# ======================
# run python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())" and paste
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=paste
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://user:password@postgres:5432/db


# ======================
# Admin user
# ======================
AIRFLOW_ADMIN_USER=user
AIRFLOW_ADMIN_PASSWORD=password